# Node modules
node_modules/

# Environment variables
.env
config/config.env

http://localhost:5173

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# IDE/editor folders (optional)
.vscode/
.idea/

# OS-specific files
*.swp
*.swo
